.inventory-container {
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
  width: 70%;
  padding: 0.4rem 0;
  font-size: 1.1rem;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 735px) {
    width: 90%;
  }

  @media (max-width: 475px) {
    width: 95%;
  }

  .inventory-outputs {
    display: flex;
    margin-left: 1rem;

    .item {
      padding-right: 1rem;
      border-right: 1px solid rgb(225, 225, 225);
      text-align: start;
    }

    .location {
      margin-left: 1rem;

      text-align: start;
    }
  }

  .inventory-btns {
    display: flex;
    align-items: center;
    margin-right: 0.4rem;

    button {
      all: unset;
      display: block;
      color: #f37779;
      margin: auto;
      // margin-right: 1rem;
      transition: 0.3s;
      padding: 0.3rem;
      width: 2rem;
    }

    button:hover {
      cursor: pointer;
      border-radius: 20px;
      color: white;
      background-color: #f37779;
    }

    .edit-btn {
      margin-right: 0.2rem;
    }
  }
}
