nav {
  display: flex;
  justify-content: space-between;

  img:first-child {
    width: 15%;
    position: absolute;
    left: 0;
    @media (max-width: 900px) {
      width: 20%;
    }
  }
  img:nth-of-type(2) {
    width: 10rem;
    margin-top: 1%;
    margin-bottom: 6%;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 735px) {
      width: 9rem;
    }

    @media (max-width: 525px) {
      width: 7rem;
      margin-top: 3%;
    }
  }

  button {
    all: unset;
    display: block;
    padding: 0.2rem;
    border-radius: 20px;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    background-color: #96d1c5;
    margin-right: 4%;
    margin-top: 2rem;
    width: 5rem;
    top: 0;
    right: 0;
    position: absolute;

    @media (max-width: 525px) {
      font-size: 1rem;
      width: 3.8rem;
    }

    @media (max-width: 480px) {
      // width: 20%;
    }
  }
  button:hover {
    cursor: pointer;
  }
}

.main-form {
  display: flex;
  justify-content: space-between;
  form {
    // display: flex;
    justify-content: space-between;
    top: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10rem;
    background-color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    width: 40%;

    @media (max-width: 1333px) {
      padding-bottom: 1rem;
    }

    @media (max-width: 919px) {
      width: 50%;
      padding-bottom: 1rem;
    }

    @media (max-width: 735px) {
      width: 70%;
      padding-bottom: 1rem;
    }

    @media (max-width: 525px) {
      width: 90%;
      padding: 0.4rem;
      padding-bottom: 1rem;
    }

    input {
      all: unset;
      display: inline;
      text-align: left;
      margin: 1rem 1rem 1rem 0;
      background-color: rgb(241, 241, 241);
      padding: 0.3rem;
      padding-left: 1rem;
      border-radius: 7px;
      width: 35%;

      @media (max-width: 1333px) {
        width: 40%;
      }

      @media (max-width: 900px) {
        display: inline;
      }

      @media (max-width: 728px) {
        width: 40%;
      }

      @media (max-width: 525px) {
        width: 40%;
        margin: 0.7rem 0.7rem 0.7rem 0;
      }
    }

    button {
      all: unset;
      padding: 0.2rem;
      border-radius: 20px;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      background-color: #f37779;
      margin: auto;
      width: 5rem;

      @media (max-width: 900px) {
        display: block;
      }

      @media (max-width: 525px) {
        display: inline;
        font-size: 1rem;
        width: 3.8rem;
      }
    }

    button:hover {
      cursor: pointer;
    }
  }
  img {
    width: 15%;
    bottom: 0;
    transform: translateX(-50%);
    transform: rotate(180deg);
    position: absolute;
    right: 0;

    @media (max-width: 900px) {
      width: 20%;
    }
  }
}

.edit-inventory {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  background-color: #fff;
  width: 70%;
  padding: 0.7rem 0 0.7rem 0.7rem;
  font-size: 1.1rem;
  border-radius: 20px;

  @media (max-width: 875px) {
    width: 45%;
  }

  @media (max-width: 600px) {
    width: 60%;
  }

  .edit-inventory-inputs {
    display: inline;
    width: 60%;
    input {
      all: unset;
      display: inline;
      text-align: left;
      margin-right: 1rem;
      background-color: rgb(241, 241, 241);
      padding: 0.3rem;
      padding-left: 1rem;
      border-radius: 7px;
      width: 40%;
      height: 1.6rem;

      @media (max-width: 875px) {
        display: block;
        margin: 0.5rem;
        width: 80%;
      }
    }
  }

  .edit-inventory-btns {
    margin-right: 1rem;
    @media (max-width: 875px) {
      margin-right: 0.2rem;
    }
    button {
      all: unset;
      padding: 0.2rem;
      border-radius: 20px;
      color: white;
      font-size: 1rem;
      font-weight: 600;
      background-color: #f37779;
      margin: auto;
      width: 4rem;

      @media (max-width: 875px) {
        display: block;
        margin: 0.5rem;
      }
    }

    button:hover {
      cursor: pointer;
    }

    button:first-child {
      margin-right: 1rem;
    }
  }
}

.inventory {
  margin: auto;
  margin-top: 17rem;
  margin-bottom: 5rem;

  @media (max-width: 1333px) {
    margin-top: 19rem;
  }
}
